body {
  font-size: 16px;
  color: #000;
  background-color: #f7f7f7;
  margin: 0;
}

a {
  color: #000;
  text-decoration-line: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
p {
  margin: 0;
}

.clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}

.icon {
  display: inline-block;
  background: url(../images/icon.png) no-repeat;
  background-size: 400px 400px;
  &.icon-home {
    width: 50px;
    height: 50px;
    background-position: 0 0;
  }
  &.icon-ordering {
    width: 50px;
    height: 50px;
    background-position: -50px 0;
  }
  &.icon-mine {
    width: 50px;
    height: 50px;
    background-position: -100px 0;
  }
  &.icon-recommend{
    width: 30px;
    height: 30px;
    background-position: 0 -120px;
  }
  &.icon-recommend1{
    width: 20px;
    height: 20px;
    background-position: 0 -100px;
  }
  &.icon-cartIcon1{
    width: 30px;
    height: 30px;
    background-position: -80px -120px;
  }
  &.icon-cartIcon2{
    width: 30px;
    height: 30px;
    background-position: -120px -120px;
  }
  &.icon-cartIcon3{
    width: 30px;
    height: 30px;
    background-position: -160px -120px;
  }
  &.icon-cartIcon4{
    width: 30px;
    height: 30px;
    background-position: -200px -120px;
  }
  &.icon-cartIcon5{
    width: 30px;
    height: 30px;
    background-position: -240px -120px;
  }
  &.icon-cartIcon6{
    width: 30px;
    height: 30px;
    background-position: -280px -120px;
  }
  &.icon-cart{
    width: 30px;
    height: 30px;
    background-position: -40px -160px;
  }
  &.icon-alipay{
    width: 40px;
    height: 40px;
    background-position: -200px 0;
  }
  &.icon-weixinpay{
    width: 40px;
    height: 40px;
    background-position: -160px 0;
  }
  &.icon-weibo{
    width: 30px;
    height: 30px;
    background-position: -80px -160px;
  }
  &.icon-weixin{
    width: 30px;
    height: 30px;
    background-position: -120px -160px;
  }
  &.icon-cart-add{
    width: 20px;
    height: 20px;
    background-position: -40px -100px;
  }
  &.icon-cart-minus{
    width: 20px;
    height: 20px;
    background-position: -60px -100px;
  }
  &.icon-clear{
    width: 20px;
    height: 20px;
    background-position: -120px -100px;
  }
}
.mint-header{
  background-color: #FFD006;
  color: #000;
  .mint-header-title{
    font-size: 16px;
    line-height: 22px;
  }
}
.footer{
  background-color: #EFEDEE;
  .mint-tab-item{
    .mint-tab-item-icon{
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
    &.is-selected{
      background: none;
      color: #ffc800;
      .icon-home {
        background-position: 0 -50px;
      }
      .icon-ordering {
        background-position: -50px -50px;
      }
      .icon-mine {
        background-position: -100px -50px;
      }
    }
    .mint-tab-item-label{
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.ordering{
  .mint-cell-wrapper{
    background: none;
  }
  .sex-wrap{
    .mint-cell{
      float: left;
      background: none;
      .mint-cell-wrapper{
        padding: 0;
      }
    }
  }
  .mint-field-core{
    font-size: 14px;
  }
}
.login{
  .mint-cell-wrapper{
    background: none;
  }
  .mint-field-core{
    background: none;
    color: #fff;
  }
  input::-webkit-input-placeholder{
    color: #fff;
  }
  .mint-field-other{
    right: -10px;
  }
}

@-webkit-keyframes mymove{
  0%   { -webkit-transform: scale(1) }
  25%  { -webkit-transform: scale(.8) }
  50%  { -webkit-transform: scale(1.1) }
  75%  { -webkit-transform: scale(.9) }
  100% { -webkit-transform: scale(1) }
}
@keyframes mymove{
  0%   { transform: scale(1) }
  25%  { transform: scale(.8) }
  50%  { transform: scale(1.1) }
  75%  { transform: scale(.9) }
  100% { transform: scale(1) }
}
/* 购物车弹弹弹 */
.tantantan{
 -webkit-animation:mymove 1s;
 animation:mymove 1s;
}
/* 修正版抛球效果所需CSS */
.flyball {
 position:fixed;
 top:0;
 left:0;
 -webkit-transition:-webkit-transform .5s linear;
 transition:-webkit-transform .5s linear;
 transition:transform .5s linear;
 transition:transform .5s linear, -webkit-transform .5s linear
}
.flyball .inner {
 position:absolute;
 top:0;
 left:0;
 background-color:#FFD006;
 border-radius:50%
}
.flyball, .flyball .inner {
 will-change:transform;/* css3自带的开启GPU加速 */
 -webkit-transform:translateZ(0);
 transform:translateZ(0)
}
.flyball .inner {
 -webkit-transition:-webkit-transform .5s cubic-bezier(.3, -.2, 1, 0);
 transition:-webkit-transform .5s cubic-bezier(.3, -.2, 1, 0);
 transition:transform .5s cubic-bezier(.3, -.2, 1, 0);
 transition:transform .5s cubic-bezier(.3, -.2, 1, 0), -webkit-transform .5s cubic-bezier(.3, -.2, 1, 0)
}
/* 父盒子的样式 */
.father{
 width: 20px;
 height: 20px;
 position: fixed;
 z-index: 999;
}
/* 子盒子（小球）的样式 */
.child{
 width: 20px;
 height: 20px;
 background: #FFD006;
 position: absolute;
 top: 0;
 left: 0;
}